<!DOCTYPE html>
<html lang="en">

<head>
  <!-- website by @dellsystem, courtesy of GitHub pages and skeleton -->
  <meta charset="utf-8">
  <title>{% if page.title %}{{page.title}}{% else %}{{ site.title | escape }}{% endif %}</title>
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  
  <link rel="icon" type="image/png" href="{{ '/assets/img/logo.svg' | relative_url }}">
  <!-- Google Fonts CDN -->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href='//fonts.googleapis.com/css?family=Figtree:400,300,600,700' rel='stylesheet' type='text/css'>

<link rel="stylesheet" href="/assets/css/normalize.css">
  <link rel="stylesheet" href="/assets/css/skeleton.css">
  <link rel="stylesheet" href="/assets/css/custom.css?1">

  {% if page.description %}<meta name="description" content="{{ page.description }}" />{% endif %}
  {% if page.meta_title %}<meta property="og:title" content="{{ page.meta_title }}"/>{% else %}<meta property="og:title" content="{{ page.title }}"/>{% endif %}
  <meta property="og:type" content="website"/>
  <meta property="og:url" content="{{ url }}"/>
  <meta property="og:image" content="{{ site.image | absolute_url }}"/>
  {% if page.description %}<meta property="og:description" content="{{ page.description }}"/>{% endif %}
  <meta name="twitter:card" content="summary"/>
</head>

<body>
    {{content}}
</body>
</html>
